.authordate {
  border-top:1px solid #69707a;
  border-bottom:1px solid #69707a;
  margin-bottom:30px;
}

.main-container {
  margin-top:48pt;
  color:#06062c;
}

h1.title {
  margin-bottom: 20px;
  color: #222324;
  line-height: 1;
  font-weight:700;
  font-size: 48px;
}


h2 {
  font-weight: 300;
  margin-bottom: 20px;
  color: #222324;
  line-height: 1;
  font-size: 40px;
}

h3 {
  color: #222324;
  margin-bottom: 20px;
  line-height: 1;
  font-weight:400;
  font-size: 28px;
}

h4 {
  color: #222324;
  margin-bottom: 20px;
  line-height: 1;
  font-weight:300;
  font-size: 24px;
}

.hrbrhdr {
  position:fixed;
  width:100%;
  background:#06062c;
  color:white;
  font-weight:400;
  font-size:24pt;
  height:40pt;
  padding:2px;
  padding-right:10px;
  top: 0;
  z-index: 100;
  text-align:right;
}

.hrbrhdr > a:link,
.hrbrhdr > a:visited,
.hrbrhdr > a:hover,
.hrbrhdr > a:active {
  color:white;
  text-decoration: none;
}

.hrbrhdr > a:hover {
  color:#94bd5a;
}

.hrbrftr {
  border-top:1px solid #69707a;
  margin-top:30px;
  text-align:center;
  font-size:10px;
}

.hrbrftr > a:link,
.hrbrftr > a:visited,
.hrbrftr > a:hover,
.hrbrftr > a:active {
  color:#69707a;
  text-decoration: none;
}

.hrbrftr > a:hover {
  color:#69707a;
}

