
@font-face {
  font-family: "fira-sans";
  src: url("fira-sans/FiraSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "fira-sans";
  src: url("fira-sans/FiraSans-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: "fira-sans";
  src: url("fira-sans/FiraSans-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: "fira-mono";
  src: url("fira-mono/FiraMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "fira-mono";
  src: url("fira-mono/FiraMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal
}

/* font-family: 'Fira Sans', sans-serif;*/
/* font-family: 'Fira Sans Condensed', sans-serif; */
/* font-family: 'Fira Mono', monospace; */

body, h1, h2, h3, h4, p, div { 
  font-family: fira-sans, sans-serif;
}

pre, code {
  font-family: fira-mono, monospace;
  font-size: 10pt;
}
